@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #000000;
  color: #fff;
  overflow: hidden;
}
.container {
  margin: 70px auto;
  overflow: hidden;
  width: 80%;
  text-align: center;
}
button{
    padding: 15px;
    border-radius: 30%;
    background-color: darkblue;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.5s ease;
  
}
button:hover{
    background-color: blue;
}